In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


import os
import urllib

In [14]:
download_url = 'http://lib.stat.cmu.edu/datasets/houses.zip'
data_path = './datasets/housing'
def fetch_data(source_url = download_url, local_path = data_path):
    if not os.path.isdir(local_path):
        os.makedirs(local_path)
    urllib.request.urlretrieve(download_url, local_path)
    files = os.listdir(local_path)
    print(files)

In [15]:
fetch_data(source_url = download_url, local_path = data_path)

PermissionError: [Errno 13] Permission denied: './datasets/housing'

In [17]:
col_names = ['longitude','latitude','housingmedianage','total_rooms','total_bedrooms','population','households','median_income','medianhousevalue']
#'ocean_proximity'
df = pd.read_csv(download_url, compression='zip', names = col_names, skiprows=27, header=None, sep = '\s+')
df.head()

,longitude,latitude,housingmedianage,total_rooms,total_bedrooms,population,households,median_income,medianhousevalue
0,452600.0,8.3252,41.0,880.0,129.0,322.0,126.0,37.88,-122.23
1,358500.0,8.3014,21.0,7099.0,1106.0,2401.0,1138.0,37.86,-122.22
2,352100.0,7.2574,52.0,1467.0,190.0,496.0,177.0,37.85,-122.24
3,341300.0,5.6431,52.0,1274.0,235.0,558.0,219.0,37.85,-122.25
4,342200.0,3.8462,52.0,1627.0,280.0,565.0,259.0,37.85,-122.25

In [19]:
df.describe()

,longitude,latitude,housingmedianage,total_rooms,total_bedrooms,population,households,median_income,medianhousevalue
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,206855.816909,3.870671,28.639486,2635.763081,537.898014,1425.476744,499.539680,35.631861,-119.569704
std,115395.615874,1.899822,12.585558,2181.615252,421.247906,1132.462122,382.329753,2.135952,2.003532
min,14999.000000,0.499900,1.000000,2.000000,1.000000,3.000000,1.000000,32.540000,-124.350000
25%,119600.000000,2.563400,18.000000,1447.750000,295.000000,787.000000,280.000000,33.930000,-121.800000
50%,179700.000000,3.534800,29.000000,2127.000000,435.000000,1166.000000,409.000000,34.260000,-118.490000
75%,264725.000000,4.743250,37.000000,3148.000000,647.000000,1725.000000,605.000000,37.710000,-118.010000
max,500001.000000,15.000100,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,41.950000,-114.310000